default_language_version:
    python: python3
repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
    -   id: ruff
        args:
          - --fix
        files: ^src/
    -   id: ruff-format