[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "==3.3.1"
funcy = "==2.0"
databricks = "*"
packages = "*"
setuptools = "*"
wheel = "*"
pytest = "*"
coverage = "*"
chispa = "*"


[dev-packages]

[requires]
python_version = "3.10"
